.wrapperContainer {
    min-height: 100vh;
}

.wrapperContainer :global(.trigger) {
    font-size: 18px;
    line-height: 30px;
    padding: 5px 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.wrapperContainer :global(.trigger:hover) {
    color: #1890ff;
}

.wrapperContainer :global(.logo) {
    height: 30px;
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding-left: 25px;
}

.wrapperContainer :global(.site-layout) :global(.site-layout-header) {
    background: #EEEEEE;
    height: 34px;
    line-height: 34px;
}

.wrapperContainer :global(.site-layout) :global(.site-layout-content) {
    background: #fff;
}
