argon2-cffi==20.1.0
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
CacheControl==0.12.6
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudant==2.14.0
constants==0.6.0
coreapi==2.3.3
coreschema==0.0.4
coverage==5.3.1
cryptography==3.3.1
Django==3.1.4
django-filter==2.4.0
django-phonenumber-field==5.0.0
django-pivot==1.8.1
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
et-xmlfile==1.0.1
firebase-admin==4.5.0
future==0.18.2
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-cloud-core==1.5.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.35.0
google-crc32c==1.1.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.0
h11==0.11.0
httplib2==0.18.1
httptools==0.1.1
idna==2.10
itypes==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
lml==0.1.0
MarkupSafe==1.1.1
msgpack==1.0.2
multidict==5.1.0
numpy==1.19.4
openapi-codec==1.3.2
openpyxl==3.0.5
packaging==20.8
phonenumbers==8.12.15
Pillow==8.0.1
pip-review==1.1.0
proto-plus==1.13.0
protobuf==3.14.0
psycopg2-binary==2.8.6
py-expression-eval==0.3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-xlsx==0.6.0
PyJWT==1.7.1
pyparsing==2.4.7
python-magic==0.4.18
pytz==2020.5
requests==2.25.1
rsa==4.6
serializers==0.2.4
simplejson==3.17.2
six==1.15.0
sqlparse==0.4.1
texttable==1.6.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
uvicorn==0.13.2
uvloop==0.14.0
websockets==8.1
yarl==1.6.3
